/* ================= EXPERIENCE ================= */
.experience__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center; /* Centre les éléments si la ligne n'est pas pleine */
}

.experience__container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  transform: translateY(-5px);
}

.experience__container h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
}

/* ======== MEDIA QUERIES ======== */
@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: repeat(2, minmax(260px, 1fr));
  }

  .experience__container > div:nth-child(3) {
    grid-column: 1 / -1;
    max-width: 500px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .experience__container {
    grid-template-columns: 1fr; /* 1 seule colonne sur mobile */
    width: 100%;
    gap: 1.5rem;
  }

  .experience__content {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .experience__container > div {
    padding: 1.5rem; /* Réduction du padding mobile */
  }
}
