.particles-container {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden; /* Empêche les particules de créer des barres de scroll */
  touch-action: none; /* Évite les conflits de scroll tactile avec le canvas */
}

.particles-container canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
