.particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1; /* On le met à 1 */
  pointer-events: none;
  overflow: hidden;
}

.particle {
  z-index: 1;
}

@keyframes float-particle {
  0% {
    opacity: 0;
    transform: translateY(105vh) translateX(0);
  }
  15% {
    opacity: 0.6;
  }
  85% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: translateY(-10vh) translateX(100px);
  }
}

@media screen and (max-width: 768px) {
  .light-mode,
  :root {
    --color-overlay: rgba(
      10,
      10,
      10,
      0.92
    ); /* Plus sombre pour mieux voir les points */
  }
}
