.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience__container > div{
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__container > div:hover{
    transform: translateY(-0.5rem);
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details{
    display: grid;
    row-gap: 0.5rem;
}

/* ======== MEDIA QUERIES (MEDIUM DEVICES - Tablettes) ======== */
@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr; /* Les blocs Frontend et Backend s'empilent */
        gap: 2rem;
    }

    .experience__container > div {
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }

    .experience__content {
        padding: 1rem;
    }
}

/* ======== MEDIA QUERIES (SMALL DEVICES - Mobiles) ======== */
@media screen and (max-width: 768px) {
  .experience__container {
    gap: 1.5rem;
  }

  .experience__container > div {
    width: 100%;
    padding: 2rem 1.5rem;
  }

  .experience__container > div h3 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }

  .experience__content {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    row-gap: 2rem;
  }

  .experience__details {
    padding: 0.3rem;
  }

  .experience__details div h4 {
    font-size: 0.95rem;
  }

  .experience__details div small {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .experience__container > div {
    padding: 1.5rem 1rem;
  }

  .experience__container > div h3 {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }

  .experience__content {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  .experience__details {
    gap: 0.8rem;
  }

  .experience__details-icon {
    font-size: 1rem;
  }

  .experience__details div h4 {
    font-size: 0.9rem;
  }

  .experience__details div small {
    font-size: 0.75rem;
  }
}