nav {
  position: fixed;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: rgba(0, 0, 0, 0.4);
  padding: 1.2rem 0.7rem;
  z-index: 999;
  border-radius: 3rem;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(77, 181, 255, 0.2);
  transition: var(--transition);
}

.menu-toggle {
  display: none;
}

nav a {
  background: transparent;
  padding: 0.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light);
  font-size: 1.2rem;
  transition: var(--transition);
  position: relative;
  width: 45px;
  height: 45px;
}

nav a:hover, nav a.active {
  background: var(--color-primary);
  color: var(--color-bg);
  box-shadow: 0 0 15px rgba(77, 181, 255, 0.4);
}

/* ======== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 1000;
    background: var(--color-primary);
    color: var(--color-bg);
    border: none;
    padding: 0.6rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  nav.nav-sidebar {
    right: -100px; /* Caché par défaut */

  }

  nav.nav-sidebar.active {
    right: 0; /* Glisse vers l'intérieur */
    opacity: 1;
    pointer-events: auto;
  }
}